*{
    /* background-color: white; */
    color: black;
}

.profile-container .profile-content {
    width: 100%;
    height: 100%;
    float: right;
    background: #fff;
    box-shadow: 0 0px 25px rgba(0, 0, 0, 0.2);
}
.profile-container .profile-content .pic {
    background: linear-gradient(to right, #023E8A 0%, #00B4D8 100%);
    text-align: center;
    color: #fff;
    padding: 0px 0px 20px 0px;
}
.profile-container .profile-content .pic img {
    width: 17%;
    border-radius: 50%;
    padding: 2% 0 ;
}
.profile-container .profile-content .pic img:hover {
    opacity: 0.8;
}
.profile-container .profile-content .pic h2 {
    font-size: 17px;
    padding: 0;
    font-weight: 400;

}
.profile-container .profile-content .pic span {
    font-size: 15px;
    font-weight: 300;
}
.profile-container .profile-content .summary {
    color: #fff;
}
.profile-container .profile-content .summary .content {
    width: 50%;
    float: left;
    text-align: center;
    display: block;
    background: linear-gradient(to right, #023E8A 0%, #00B4D8 100%);
    padding: 10px 0;
}
.profile-container .profile-content .summary .content span {
    display: block;
    font-size: 15px;
    font-weight: 500;
}
.profile-container .profile-content .profile-details ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #929292;
}
.profile-container .profile-content .profile-details ul li {
    line-height: 50px;
    border-bottom: 1px solid #f2f2f2;
    font-weight: 400;
    padding-left: 30px;
    font-size: 15px;
}
.profile-container .profile-content .profile-details ul li:hover i {
    color: #056cc6;
}
.profile-container .profile-content .profile-details ul li i {
    margin-right: 10px;
}
.profile-container .profile-content .profile-details ul li span {
    float: right;
    font-weight: 500;
}
.profile-container .profile-content .profile-details ul li span:after {
    content: '\f054';
    font-family: 'FontAwesome';
    font-size: 12px;
    float: right;
    margin-right: 20px;
    margin-left: 20px;
}

.repos-class .repo-card .grid {
    text-align: center;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.repos-class{
    font-size: 14px;
}
 
.repos-class .repo-card .grid img {
    align-self: center;
}

.repo-title {
    text-align: center;
}

.repos-class .repo-card .grid .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    border-radius: 3%;
    padding-bottom: 15px;
} 

@media screen and (max-width: 768px) {
    
    .profile-container .profile-content .pic img{
        width: 35%;
    }

}

@media only screen and (min-width: 600px) {
    .profile-container .profile-content .pic img{
        width: 20%;
    }
}
